.body{
    margin-top: 0px;
}

#navContainer{
    margin-top: -4%;
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    height: 50px;
    width: 800px;
    /* border: 2px solid black;     */
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-size: 17px;
}
li a:hover{
    color: green;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

nav a.active{
    text-decoration: underline;
    color: green;
    font-weight: bold;
}




