#navContainer{
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

